* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #424242;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 32px;
    margin-bottom: 0px;
}

.logo-nome {
    display: flex;
    gap: 12px;
}

.logo-nome img {
    height: 50px;
}

h1 {
    font-size: 36px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#hamburguer {
    color: #fff;
    text-align: right;
    padding: 15px;
    cursor: pointer;
}

#hamburguer:hover {
    color: #292929;
}

nav {
    display: none;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-right: 48px;
    font-family: "Poppins", sans-serif;
}

li {
    font-size: 18px;
    color: #b9b9b9;
}

li a {
    text-decoration: none;
    color: #b9b9b9;
}

li a:hover {
    color: #fff;
}

#primeira-secao {
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.texto {
    text-align: center;
}

.imagem img{
    height: 300px;
    border: 10px solid #b9b9b9;
    border-radius: 50%;
}

h2 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    color: #05A;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #b9b9b9;
    width: 700px;
    word-wrap: break-word;
}

/*
p span {
    text-decoration: line-through;
}
*/

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    color: #fff;
    background-color: #555;
    padding: 25px;
    margin-top: 20px;
    border-radius: 50px;
    height: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.icones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

i {
    color: #fff;
    font-size: 25px;
}

.borda-azul {
    border: 2px solid #05A;
}

#segunda-secao {
    background-color: #292929;
}

h3 {
    text-align: center;
    font-size: 32px;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 25px;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.card {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card h4 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.card p {
    width: 200px;
    word-wrap: break-word;
    color: #b9b9b9; 
    font-size: 16px;
    text-align: center;
}

#terceira-secao {
    background-color: #05A;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.formulario {
    width: 700px;
    background-color: #424242;
    border-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-left: 28px;
}

label .red {
    color: darkred;
}

input, textarea {
    margin-left: 22px;
    margin-right: 22px;
    height: 25px;
}

textarea {
    height: 90px;
}

.campo-botao {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-top: 12px;
}

.botao-enviar {
    width: 100px;
    text-align: center;
    background-color: #292929;
}

footer {
    background-color: #292929;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
}